.env
.venv
models
data
/old_code
saved_index
first_try
*.json
vector_store
*.csv
*.log
__pycache__
document_embedding_pipeline/src/document_embedding_pipeline.egg-info
qdrant_db
*.doc*
*.pdf
*.xls
*.xslx